{
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-standard",
    "stylelint-config-standard-scss"
  ],
  "rules": {
    "declaration-block-no-redundant-longhand-properties": null
  }
}
