.about .container {
  display: grid;
  grid-template-areas:
    'block1'
    'block2'
    'block3';
  grid-template-columns: auto;

  justify-items: center;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  overflow: hidden;
  gap: 16px;

  @include desktop {
    grid-template-areas:
      'blocki1 blockt1'
      'blocki2 blockt2'
      'blocki3 blockt3';
    grid-template-columns: 1fr 1fr;
    color: var(--color-primary);
    gap: 0px;
  }
}

.about__img:nth-of-type(1) {
  grid-area: block1;

  @include desktop {
    grid-area: blocki1;
    max-width: 710px;
    width: 100%;
    min-height: 515px;
  }
}

.about__img:nth-of-type(2) {
  grid-area: block2;

  @include desktop {
    grid-area: blocki2;
    max-width: 590px;
    width: 100%;
    min-height: 428px;
    margin-top: -60px;
  }
}

.about__img:nth-of-type(3) {
  grid-area: block3;

  @include desktop {
    grid-area: blocki3;
    max-width: 470px;
    width: 100%;
    min-height: 341px;
    margin-top: -60px;
  }
}

.about__text:nth-of-type(1) {
  grid-area: block1;

  @include desktop {
    grid-area: blockt1;
    margin-left: 40px;
  }
}

.about__text:nth-of-type(2) {
  grid-area: block2;

  @include desktop {
    grid-area: blockt2;
    margin-left: 40px;
    max-width: 515px;
    width: 100%;
    margin-top: -60px;
  }
}

.about__text:nth-of-type(2) h3 {

  @include desktop {
    font-size: 43px;
    margin-bottom: 8px;
  }
}

.about__text:nth-of-type(2) h4 {
  @include desktop {
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 4px;
  }
}

.about__text:nth-of-type(2) p {
  @include desktop {
    font-size: 11px;
    line-height: 1.6;
  }
}

.about__text:nth-of-type(3) {
  grid-area: block3;

  @include desktop {
    grid-area: blockt3;
    margin-left: 40px;
    max-width: 515px;
    width: 100%;
    margin-top: -60px;
  }
}

.about__text:nth-of-type(3) h3 {

  @include desktop {
    font-size: 43px;
    line-height: 1.1;
    margin-bottom: 16px;
  }
}

.about__text:nth-of-type(3) h4 {
  @include desktop {
    font-size: 16px;
    line-height: 1.3;
  }
}

.about__text:nth-of-type(3) p {
  @include desktop {
    font-size: 11px;
    line-height: 1.6;
  }
}

.about__img {
  max-width: 100%;
  height: 100%;
  filter: brightness(70%);
  object-fit: cover;
  object-position: center;
  border-radius: 10px;

  @include desktop {
    filter: brightness(100%);
    transform: translateX(0);
  }
}

.about__text {
  padding: 60px 16px;
  position: relative;
  max-width: 353px;
  font-family: inherit;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include desktop {
    max-width: 630px;
    justify-self: start;
    padding: 0;
    gap: 12px;
  }
}

.about h3 {
  font-size: 28px;
  font-weight: 700;
  margin: 0;
  line-height: 31px;
  letter-spacing: 0;

  @include desktop {
    font-size: 55px;
    line-height: 60px;
    margin-bottom: 12px;
  }
}

.about h4 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  line-height: 24px;

  @include desktop {
    font-size: 21px;
    line-height: 28px;
  }
}

.about p {
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  line-height: 19px;

  @include desktop {
    font-size: 14px;
    line-height: 23px;
  }
}