.input {
  appearance: none;
  border: 1px solid transparent;
  padding: 8px 20px 5px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6;
  border-radius: 10px;
  background-color: var(--color-white);
  color: var(--color-black);
  transition-property: border-color;
  transition-duration: var(--transition-duration);

  @include tablet {
    padding: 16px 20px 12px;
  }

  &:focus,
  &:focus-visible {
    border-color: var(--color-primary);
    outline: none;
  }

  &:hover {
    border-color: var(--color-primary);
  }

  &:active {
    border-color: var(--color-primary);
  }

  &[disabled] {
    opacity: 0.3;
    pointer-events: none;
  }

  &::placeholder {
    font-weight: 300;
    transition: var(--transition-duration);
    color: #cccccc;
  }
}

.input--round {
  border-radius: 28px;
}

.input__icon {
  background: none;
  border: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  color: var(--color-primary);
}