.map {
  position: relative;
  min-height: 1000px;
}

.map__image {
  position: relative;
}

.map__image img {
  height: 640px;
  object-fit: cover;
  margin: 0 auto;

  @include tablet {
    height: 900px;
  }

  @include desktop-l {
    height: 1240px;
  }
}

.map__card {
  position: absolute;
  max-width: 640px;
  padding: 0 20px;
  bottom: 40px;
  transform: none;
  right: 0;
  left: 0;
  margin: 0 auto;

  @include desktop {
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: auto;
    bottom: auto;
    margin-top: -80px;
  }
}

.map__card .control {
  width: 100%;
  max-width: 350px;
}

.map__card .control input {
  width: 100%;
}

.map__inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 1520px;
  margin: 0 auto;
}