.navbar {
  &__link {
    font-weight: 700;
    text-decoration: none;

    &:focus,
    &:hover,
    &:active {
      color: var(--color-primary);
    }
  }

  &__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    gap: 32px;

    @include laptop {
      flex-direction: row;
    }
  }
}