.next {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1920' height='490' viewBox='0 0 1920 490'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='1.574' x2='.33' y1='-.055' y2='.531' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23dba5ba'/%3E%3Cstop offset='1' stop-color='%23f8f2f5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath fill='url(%23a)' d='M0 0h490v1920H0z' data-name='Rectangle 429' transform='rotate(90 960 960)'/%3E%3C/svg%3E");
  background-size: cover;
  color: var(--color-primary);
  max-height: 520px;
}

.next__inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-inline: auto;
  padding-inline: 20px;
  max-width: 1920px;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 40px;
  }

  @include desktop {
    padding-inline: 150px;
  }

  @include desktop-l {
    padding-inline: 200px;
  }
}

.next__body {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 30px;

  @include tablet {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  @include desktop {
    padding-right: 0;
  }

  @include desktop-l {
    padding-top: 123px;
    margin-top: 0;
    gap: 0;
  }

  h3 {
    font-family: var(--font-primary);
    font-size: 28px;
    font-weight: 700;
    line-height: 31px;
    margin: 0;
    letter-spacing: -0.84px;

    @include desktop {
      font-size: 55px;
      line-height: 70px;
      margin-bottom: 22px;
    }
  }

  h4 {
    font-family: var(--font-primary);
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0;

    @include desktop {
      font-size: 31px;
      line-height: 34px;
    }

    @include desktop-l {
      margin-bottom: 15px;
    }
  }

  p {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 700;
    line-height: 19px;
    margin: 0;

    @include desktop {
      font-size: 21px;
      line-height: 28px;
      margin-bottom: 25px;
    }
  }
}

.next__actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: auto;

  @include tablet {
    flex-wrap: wrap;
    gap: 10px;
  }

  @include desktop-l {
    gap: 20px;
  }
}

.next__image {
  width: 393px;
  height: 333px;
  object-fit: cover;
  margin-inline: auto;

  @include tablet {
    height: 360px;
    margin-top: auto;
  }

  @include desktop {
    height: 100%;
    width: 600px;
  }

  @include desktop-l {
    height: 100%;
    width: 600px;
    margin-right: 40px;
    object-fit: cover;
  }
}