.partners {
  padding-top: 40px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1920' height='759' viewBox='0 0 1920 759'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23f8f2f5' d='M0 0h1920v759H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%23f8f2f5' d='M1866.616 4.876c-35.086-1.984-70.1-4.5-105.34-4.8-18.8-.163-37.605.006-56.408-.038-28.942-.067-57.878-.028-86.789 1.143-34.646 1.405-69.324 2.5-103.953 4.063-20.449.92-40.826 2.526-61.245 3.756-22.144 1.339-44.246 3.16-66.324 5.12-25.047 2.226-50 4.87-74.959 7.421-14.964 1.531-29.924 3.6-44.881 4.9-28.573 2.488-56.806 6.221-85.214 9.276-14.694 1.581-29.394 3.476-44.076 5.1Q1099.7 44.976 1061.915 49q-16.841 1.809-33.748 3.323-38.3 3.442-76.631 6.747c-21.315 1.869-42.562 4.4-63.967 5.406-19.959.936-39.864 2.446-59.709 3.767-38.86 2.586-77.832 3.772-116.749 5.357-28.354 1.153-56.893.226-85.348.226v.093q-39.256 0-78.512-.006c-26.4-.03-52.527-2.829-78.922-3.305-18.4-.331-36.793-2.154-55.071-3.88-18.525-1.75-37.13-3.055-55.647-4.924-24.23-2.444-48.48-4.834-72.538-7.909-16.594-2.119-33.273-3.922-49.805-6.376-17.7-2.625-35.453-5.108-53.086-7.941-15.214-2.444-30.357-5.09-45.506-7.717-17.072-2.96-34.2-5.805-51.145-9.062-12.8-2.46-25.21-5.878-38.069-8.167C31.372 11.764 15.777 7.9 0 4.408v754.619h1920V9.691c-17.691-1.994-35.429-3.8-53.384-4.815'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: repeat-x;
  background-position: bottom;
  padding-bottom: 40px;

  @include desktop {
    padding-bottom: 120px;
  }
}

.partners .container {
  display: grid;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-template-areas:
    'img'
    'info'
    'shelter';
  max-width: 760px;

  @include desktop {
    max-width: 1920px;
    grid-template-areas:
      'info img'
      'info shelter';
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}

.partners__top {
  grid-area: img;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  color: white;
  padding: 55px;


  @include desktop {
    height: 512px;
    max-width: 760px;
    padding: 0;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
}

.partners__info {
  grid-area: info;
  line-height: 1;
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--color-primary);

  @include desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 603px;
    margin: 0;
  }
}

.partners__info h3 {
  font-size: 28px;
  font-weight: 900;
  margin: 0;
  line-height: 31px;

  @include desktop {
    font-size: 55px;
    line-height: 60px;
  }
}

.partners__info h4 {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  line-height: 24px;

  @include desktop {
    font-size: 21px;
    line-height: 28px;
  }
}

.partners__info p {
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  line-height: 19px;

  @include desktop {
    font-size: 14px;
    line-height: 23px;
  }
}

.partners__bottom {
  position: relative;
  grid-area: shelter;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;

  @include desktop {
    padding: 0;
    max-width: 760px;
    max-height: 150px;
  }

  img:first-child {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  img:last-child {
    position: absolute;
    margin: auto;
    width: 135px;
  }
}