.quiz {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  align-items: center;
  min-height: 386px;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  text-align: center;

  @include desktop {
    width: 100%;
    min-height: 1038px;
    justify-content: flex-end;
  }
}

.quiz__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  @include tablet {}
}

.quiz__controls {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 30px 0;
  gap: 10px;

  @include desktop {
    flex-direction: row;
    gap: 40px;
    margin-top: 65px;
    margin-bottom: 40px;
  }
}

.quiz__result {
  display: none;

  &.active {
    display: block;
    animation: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: both;
  }

  h3 {
    margin-bottom: 24px;
  }
}

.quiz__buttons button {
  padding: 14px 50px;
  min-width: 128px;

  @include desktop {
    min-width: 206px;
    padding: 21px 64px 18px;
    text-transform: uppercase;
  }

}

.quiz__result-actions {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 30px;
  margin-top: 30px;

  @include desktop {
    margin-bottom: 90px;
    margin-top: 90px;
  }

  button,
  .button {
    text-transform: uppercase;
  }
}

.quiz__intro {
  @include laptop {
    text-align: center;
  }

  &.hidden {
    display: none;
  }

  h2 {
    line-height: 36px;
    margin-bottom: 10px;

    @include laptop {
      font-size: 30px;
      line-height: 36px;
      letter-spacing: 0;
      margin: 20px;
    }
  }


  button {
    display: block;
    margin: 0 auto 40px;
    margin-top: 40px;
    padding: 14px 50px;
    min-width: 128px;

    @include laptop {
      min-width: 206px;
      margin-bottom: 41px;
      padding: 21px 64px 18px;
      text-transform: uppercase;
      margin-top: 57px;
    }
  }

  @include desktop {
    max-width: 736px;
    display: flex;
    flex-direction: column;
    gap: 28px;
    ;

    >p {
      font-size: 21px;
      margin-bottom: -27px;
      margin-top: 26px
    }

    h4 {
      line-height: 28px;
    }
  }
}

.quiz__result {
  button {
    display: block;
    margin: 0 auto 40px;
    margin-top: 40px;
    padding: 14px 50px;

    @include laptop {
      margin-bottom: 41px;
      padding: 21px 64px 18px;
      text-transform: uppercase;
      margin-top: 57px;
    }
  }
}

.quiz__progress {
  width: 100%;

  @include laptop {
    padding-top: 0;
  }
}

.question-info {
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: left;

  @include desktop {
    max-width: 772px;
    margin: 40px auto 20px;
  }
}

.quiz__question-wrap {
  display: none;
  list-style-type: none;

  &.active {
    display: block;
  }
}

.quiz__question {
  display: none;
  opacity: 0;

  &.active {
    display: block;
    animation: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: both;
  }

  h3 {
    letter-spacing: -1px;
    margin-bottom: 20px;

    @include laptop {
      margin-bottom: 5px;
    }
  }
}

.quiz__question-form {
  position: relative;
  padding-top: 20px;

  @include tablet {
    padding-top: 0;
  }

  @include laptop {
    max-width: 874px;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;

    @include tablet {
      width: 2px;
      height: 100%;
      left: -8px;
    }

    @include desktop {
      left: 0;
      max-width: 874px;
    }
  }
}

.progress {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.progress__questions {
  font-size: 14px;
  color: #333;
}

.progress__line {
  width: 100%;
  height: 6px;
  border-radius: 10px;
  appearance: none;
  -webkit-appearance: none;
  overflow: hidden;
  background-color: rgba(37, 17, 99, 0.2);
  border: none;

  &::-webkit-progress-bar {
    background-color: rgba(37, 17, 99, 0.2);
    border-radius: 10px;
  }

  &::-webkit-progress-value {
    background-color: var(--color-primary);
    border-radius: 10px;
    transition: width 0.3s ease;
  }

  &::-moz-progress-bar {
    background-color: var(--color-primary);
    border-radius: 10px;
  }
}

.progress__questions {
  color: var(--color-primary);
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
}

.quiz .radio-box .radio-box__label {
  font-weight: 400;
  font-size: 12px;
  color: var(--color-white);

  @include laptop {
    font-size: 21px;
    line-height: 28px;
  }
}