.slider-values {
  padding-bottom: 40px;
}

.slider-values .swiper-slide {
  padding: 0;
  background: none;
}

.slider-values__progress {
  width: 100%;
  margin-bottom: 32px;

  @include tablet {
    display: none;
  }
}

.slider-values__progress-bar {
  height: 4px;
  background-color: #e0e0e0;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
}

.slider-values__progress-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--color-primary);
  transform-origin: left;
}

.slider-values__controls {
  margin-top: 60px;

  @include desktop-l {
    display: none;
  }
}

.slider-values__pagination {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.slider-values__pagination .swiper-pagination-bullet {
  margin: 0 !important;
  height: 12px;
  width: 12px;
  padding: 0;
  position: relative;
  z-index: 1;
}

.slider-values__pagination .swiper-pagination-bullet-active {
  background-color: var(--color-primary);
}

.slider-values__navigation {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 227px;
  bottom: 27px;
  left: 50%;
  transform: translate(-50%, 0);
}

.slider-values__navigation button {
  height: 34px;
  width: 34px;
}

.slider-values__navigation button svg {
  stroke: var(--color-primary);
}

.slider-values-slide {
  width: 100%;
}

.slider-values-slide__top {
  aspect-ratio: 1/1;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  justify-content: center;
  background-image: url("../../images/rhombus.svg");
  background-size: contain;
  margin-bottom: 30px;
  margin-inline: auto;
  max-width: 310px;

  @include desktop-l {
    margin-inline: 0;
  }
}

.slider-values-slide__top img {
  @include desktop {
    width: 100px;
    height: 100px;
  }

  @include desktop-l {
    width: 120px;
    height: 120px;
  }
}

.slider-values-slide__top p {
  font-size: 23px;
  line-height: 26px;
  text-align: center;
  color: var(--color-primary);
  font-weight: 700;
  margin-top: 0;
  max-width: 165px;

  @include desktop-l {
    font-size: 27px;
    line-height: 30px;
  }
}

.slider-values-slide__header h3 {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 20px;
  color: var(--color-primary);
  font-weight: 700;
  text-align: left;

  @include desktop {
    font-size: 21px;
    line-height: 28px;
  }
}

.slider-values-slide__body {
  text-align: left !important;
  font-size: 15px;
  line-height: 22px;
  color: var(--color-primary);
  font-weight: 300;

  @include desktop {
    font-size: 14px;
    line-height: 23px;
  }
}