.tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  list-style-type: none;
  margin-bottom: 20px;

  @include desktop {
    width: fit-content;
    margin-inline: auto;
    padding: 10px 20px;
    border-radius: 80px;
    flex-wrap: nowrap;
    column-gap: 20px;
    background: var(--color-muted);
  }

  > button {
    padding: 14px 20px;
    border-radius: 28px;
    background: var(--color-muted);
    color: var(--color-primary);
    font-size: 12px;
    line-height: 22px;

    @include desktop {
      background: white;
      padding: 15px 30px;
      font-size: 16px;
      line-height: 22px;
    }

    &.is-active {
      color: white;
      background: var(--color-primary);
    }
  }
}

[data-tab-content] {
  display: none;

  &.is-active {
    display: block;
  }
}

.tab-content {
  margin-bottom: 40px;

  @include desktop {
    margin-bottom: 60px;
  }
}

.tab-slide {
  &__card {
    background: var(--color-muted);
    border-radius: 10px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    color: var(--color-primary);

    @include desktop {
      row-gap: 30px;
      border-radius: 20px;
      padding: 60px;
    }

    h4 {
      font-size: 28px;
      line-height: 31px;
      margin: 0;
      font-weight: 800;

      @include desktop {
        font-size: 55px;
        line-height: 60px;

        br {
          display: none;
        }
      }
    }
    h5 {
      font-size: 15px;
      line-height: 22px;
      margin: 0;
      font-weight: 600;

      @include desktop {
        font-size: 21px;
        line-height: 28px;
      }
    }
    p {
      font-size: 12px;
      line-height: 19px;
      margin: 0;

      @include desktop {
        font-size: 14px;
        line-height: 23px;
      }
    }
  }
}

.tab-slide-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  @include desktop {
    flex-direction: row;
    column-gap: 60px;
    row-gap: 0;
  }
}

.tab-slide__top {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  @include desktop {
    width: calc((100% - 60px) / 2);
    row-gap: 60px;
  }
}
.tab-slide__bot {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  @include desktop {
    width: calc((100% - 60px) / 2);
    row-gap: 60px;
    margin-top: 60px;
  }
}

.tab-slide__form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  @include desktop {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 20px;

    #tab-slide-second-name,
    #tab-slide-first-name {
      width: calc((100% - 20px) / 2);
    }

    #tab-slide-areatext,
    #tab-slide-mail {
      width: 100%;
    }
  }

  .tab-slide__input {
    padding: 14px 25px;
    border-radius: 10px;
    resize: none;
    font-size: 12px;
    line-height: 19px;

    @include desktop {
      font-size: 18px;
      line-height: 23px;
    }

    &::placeholder {
      color: #d8d8d9;
      font-size: 12px;
      line-height: 19px;
      font-size: 12px;
      line-height: 19px;

      @include desktop {
        font-size: 18px;
        line-height: 23px;
      }
    }
  }

  .tab-slide__form-checkboxes {
    margin-top: 11px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
}

.tab-slide__checkboxes {
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  @include desktop {
    row-gap: 20px;
  }

  .tab-slide__checkbox {
    display: flex;
    gap: 10px;
    align-items: start;

    input {
      border-radius: 2px;
      border-color: var(--color-primary);
      border-width: 2px;
      margin: 0;
      flex-shrink: 0;

      @include desktop {
        width: 20px;
        height: 20px;
      }
    }
    label {
      font-size: 12px;
      line-height: 19px;

      @include desktop {
        font-size: 16px;
        line-height: 23px;
      }
    }
  }
}

.tab-slide__submit {
  width: fit-content;
  border-radius: 28px;
  color: white;
  padding: 14px 30px;
  background-color: var(--color-primary);
  margin-top: 20px;
}
