.wellbeing {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  color: var(--color-primary);
  height: 100%;
  align-items: center;
  margin-bottom: 40px;
  position: relative;

  @include desktop {
    row-gap: 30px;
  }
}

.wellbeing__background {
  position: absolute;
  z-index: -1;
  background-color: var(--color-secondary);
  width: 100vw;
  height: calc(100% - 60px);
  bottom: 30px;

  @include desktop {
    height: calc(100% - 300px);
    bottom: 150px;
  }
}

.wellbeing h3 {
  font-family: var(--font-primary);
  font-size: 28px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0;
  margin: 0;

  @include desktop {
    font-size: 40px;
    line-height: 44px;
  }

  @include desktop-l {
    font-size: 55px;
    line-height: 60px;
  }
}

.wellbeing h4 {
  font-family: var(--font-primary);
  font-size: 15px;
  font-weight: 700;
  line-height: 22px;
  margin: 0;

  @include desktop-l {
    font-size: 21px;
    line-height: 28px;
    font-weight: 700;
  }
}

.wellbeing p {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 0;
  margin: 0;

  @include desktop-l {
    font-size: 14px;
    line-height: 23px;
    font-weight: 400;
  }
}

.wellbeing__description {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  padding-bottom: 40px;

  @include desktop {
    max-width: 1088px;
  }
}

.wellbeing__card {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 1;
  border-radius: 20px;

  @include desktop {
    flex-direction: row;
    max-width: 1323px;
  }
}

.wellbeing__card img {
  z-index: 1;
  object-fit: cover;
  border-radius: 10px;
  width: 100%;

  @include laptop {
    border-radius: 20px;
  }

  @include desktop {
    width: 50%;
    order: 2;
    border-radius: 20px;
  }
}

.wellbeing__card-body {
  position: relative;
  background-color: var(--color-muted);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: calc(100% - 30px);
  margin-inline: auto;
  margin: -40px auto 0 auto;
  padding: 20px;
  z-index: 2;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .2);

  @include desktop {
    padding: 60px;
    justify-content: center;
    width: 50%;
    border-radius: 20px 0 0 20px;
    margin: 18px 0;
  }
}

.wellbeing__card-body p {
  font-weight: 400;
}

.wellbeing__card-body ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-left: 13px;
}

.wellbeing__card-body ul li {
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;

  @include desktop {
    font-size: 14px;
    line-height: 23px;
  }
}