footer.footer.background-primary
  .footer__inner
    .footer__search 
      form(action="" method="post")
        .control 
          input.input.input--round(type="search" name="search" placeholder="Search roles")
          button(type="submit").input__icon
            +svg('search')
    .footer__social 
      ul.social-links
        li 
          a(href="#")
            +svg('facebook') 
        li 
          a(href="#")
            +svg('twitter') 
        li 
          a(href="#")
            +svg('pinterest') 
        li 
          a(href="#")
            +svg('instagram') 
        li 
          a(href="#")
            +svg('youtube') 
        li 
          a(href="#")
            +svg('linkedin')
    .footer__middle 
        img(src="images/logo.svg" alt="logo Dreams." width="187" height="67").footer__logo
        ul.footer__nav
          li.footer__col
            a(href="#").footer__title 
              h4 Our teams
            ul.footer__list 
              li
                a(href="#") Retail 
              li
                a(href="#") Distribution 
              li
                a(href="#") Bed Factory 
              li
                a(href="#") Bedquarters 
          li.footer__col
            a(href="#").footer__title
              h4 About us
            ul.footer__list
              li
                a(href="#") About us & History 
              li
                a(href="#") Values 
              li
                a(href="#") L&D & Staff Networks
              li
                a(href="#") Benefits & Wellbeing
          li.footer__col
            a(href="#").footer__title
              h4 How to apply
            ul.footer__list 
              li
                a(href="#") Application process
              li
                a(href="#") FAQs 
          li.footer__col
            a(href="#").footer__title
              h4 View jobs
            ul.footer__list 
              li
                a(href="#") Login 

       
    .footer__bottom 
      ul.footer__links
        li 
          a(href="#") Terms and conditions
        li 
          a(href="#") Cookies
        li 
          a(href="#") Privacy and security
        li 
          a(href="#") Modern slavery statement Gender pay gap 
      span.footer__text Dreams Limited is registered in England and Wales | Company registration number: 08428347 | Registered Office: Knaves Beech, High Wycombe, Bucks. HP10 9YU.