include mixins/accordion
include mixins/details
include mixins/breadcrumb
include mixins/checkbox
include mixins/menu
include mixins/navbar
include mixins/pagination
include mixins/radio
include mixins/sliders
include mixins/social-links
include mixins/svg
include mixins/switch
include mixins/tabs
include mixins/video
include mixins/next
include mixins/card-job