mixin card-colleague(data)
    article.card-colleague
        img.card-colleague__img(src={data.img}, alt={data.alt})
        .card-colleague__content
             h3 The four pillars of wellbeing
            h4 Our approach covers every part of life, because true rest and balance don’t come from one thing alone:
            ul 
              li <b>Financial</b> – helping you feel secure about money.
              li <b>Physical</b> – encouraging healthier lifestyles that give you more energy. 
              li <b>Emotional</b> – providing support when things feel tough. 
              li <b>Societal</b> – building stronger connections in our communities.
            p 
            | Even our benefits are built around these pillars, so you can feel confident there’s support in place whenever you need it – helping you rest easy and helping us all deliver on our bigger purpose.