mixin next()
  .next
    .next__inner
      .next__body
        h3 Where to next?
        h4 We’re hiring now
        p Dream roles don’t wait — and neither should you.
        .next__actions
          a(href="/").button.button--primary FAQs
          a(href="/").button.button--primary About us
          a(href="/").button.button--primary How to apply
      img.next__image(src="images/mattress.png", alt="mattress" width="393px" height="333px")