extends pug/base

prepend vars
  - title = 'Bedquarters'

append vars

block content
  section.section.hero.hero--bedquarters.wave-bottom
    img(src="images/bedquarters.jpg" alt="bedquarters." width="1920" height="1080")
    .hero__inner
      h1 Where big
      .hero__motto
        img.hero__images.hidden-desktop(src="images/bedquarters-header.png" alt="dreams get done.")
        img.hero__images.visible-desktop(src="images/bedquarters-header.svg" alt="dreams get done.")
      p Part ideas hub, part problem-solving pitstop — Bedquarters is where the sparks fly and the plans come to life.

  section.section.intro
    .container.intro__inner
      .intro__text 
        h2 Welcome to Bedquarters
        h3 Our head office in Loudwater, High Wycombe. This is where we keep everything running behind the scenes.
        p From big ideas to fine details. We’re made up of over 250 team members:
        ul 
          li <b>The Thinkers</b> – Buying, Insights, Finance. (Big brains, big impact.)
          li <b>The Creators</b> – Marketing, E-Commerce, Merchandising. (The noisey ones, in a good way.)
          li <b>The Fixers</b> – IT, Customer Services, Risk. (No drama too big, no laptop too slow.)
          li <b>The Planners</b> – Supply Chain, Property, People. (The unsung heroes making it all work.)
      img(src="images/retail-bed.png" alt="bed." width="418" height="306").intro__image

  section.section.section-features
    .container
      .section-header
        h2 Real people. Real jobs. Really into beds.
      +slider-features

  section.section
    .container
      .section-header
        h2 We can’t promise <br> breakfast in bed
        h3 But, we can promise these:
    .container
      +slider-spotlight-bedquarters

  section.section.map
    .map__image.wave-top.wave-bottom
      img(src="images/map-bedquarters.jpg" alt="map.")
    .map__inner
      .map__card
        .card.card--primary
          h3 Over 200 stores nationwide
          h4 At Dreams, our retail stores are much more than showrooms—they’re where we turn the art of restful sleep into a joyful, friendly experience. Our network of stores truly stretches from Aberdeen to Truro.
          p Our regional stores are dynamic hubs that welcome a diverse range of roles, From Retail Sales Assistants who guide customers to their dream bed using our unique Sleepmatch technology, creating a memorable and personalised experience. To our Retail Store Managers who lead their in store team, deliver exceptional customer experiences.
          form(action="" method="post")
            .control
              input.input.input--round(type="search" name="store" placeholder="Find your local store")
              button(type="submit").input__icon
                +svg('search')

  section.section
    .container 
      include ./pug/components/quiz.pug

  section.section
    .container
      .section-header
        h2 Find your perfect job
    +slider-jobs(jobs)

  section.section
    +next