extends pug/base

prepend vars
  - title = 'Homepage'

append vars
//-  - pageWrapperClass = 'custom-class'

block content
  .image-sequence-wrapper
    .image-sequece-wrapper__scroll Scroll to explore
    .image-sequence-loading
      .loader
      img.image-sequence-loading__logo(src="images/logo.svg" alt="logo Dreams." width="187" height="67")

    section#section-1.pin-section(data-frame-count='75' data-image-path='images/general/dreamscareersite-general')
      canvas.image-sequence-canvas
      .pin-section__title
        img.hidden-desktop(src="images/home-header-1.png" alt="from our big thinkers.")
        img.visible-desktop(src="images/home-header-1-desktop.svg" alt="from our big thinkers.")
    section#section-2.pin-section(data-frame-count='75' data-image-path='images/bedquarters/dreamscareersite-bedquarters')
      canvas.image-sequence-canvas
      .pin-section__title
        img.hidden-desktop(src="images/home-header-2.svg" alt="from our big thinkers.")
        img.visible-desktop(src="images/home-header-2-desktop.svg" alt="from our big thinkers.")
    section#section-3.pin-section(data-frame-count='75' data-image-path='images/bedfactory/dreamscareersite-bedfactory')
      canvas.image-sequence-canvas
      .pin-section__title
        img.hidden-desktop(src="images/home-header-3.svg" alt="from our big thinkers.")
        img.visible-desktop(src="images/home-header-3-desktop.svg" alt="from our big thinkers.")
    section#section-4.pin-section(data-frame-count='87' data-image-path='images/retail/dreamscareersite-retail')
      canvas.image-sequence-canvas
      .pin-section__title
        img.hidden-desktop(src="images/home-header-4.png" alt="from our big thinkers.")
        img.visible-desktop(src="images/home-header-4-desktop.svg" alt="from our big thinkers.")
    section#section-5.pin-section(data-frame-count='75' data-image-path='images/distribution/dreamscareersite-distribution')
      canvas.image-sequence-canvas
      .pin-section__title
        img.hidden-desktop(src="images/home-header-5.svg" alt="from our big thinkers.")
        img.visible-desktop(src="images/home-header-5-desktop.svg" alt="from our big thinkers.")
    section#section-6.pin-section(data-frame-count='75' data-image-path='images/distribution/dreamscareersite-distribution')
      canvas.image-sequence-canvas
      .pin-section__title
        h3 Every role has its part to play in
        img.hidden-desktop(src="images/home-header-6.png" alt="helping the nation sleep better.")
        img.visible-desktop(src="images/home-header-6-desktop.svg" alt="helping the nation sleep better.")

