extends pug/base

prepend vars
  - title = 'Index'

append vars

block content 
  .container
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    h4
      a(href="home.html") Homepage
    h4
      a(href="retail.html") Retail
    h4
      a(href="bedquarters.html") Bedquarters
    h4
      a(href="distribution.html") Distribution
    h4
      a(href="bedfactory.html") Bed Factory
    h4
      a(href="about.html") About us
    h4
      a(href="values.html") Values
    h4
      a(href="staff.html") Staff Networks
    h4
      a(href="benefits.html") Benefits & Wellbeings
    h4
      a(href="application.html") Application Process
    h4
      a(href="faqs.html") FAQs
    h4
      a(href="jobs.html") View Roles (Our jobs)
    h4
      a(href="job-listing.html") Retail Sales Assistant (Job Listing)
    h4
      a(href="test.html") Test
    br
    br
    br
    br
