extends pug/base

prepend vars
  - title = 'Test'

append vars
//-  - pageWrapperClass = 'custom-class'

block content
  section 
    .container.container-md
      .card
          h3 How do I apply for a role?
          h4 Ready to dream big with us?
          p Just follow a few simple steps to set up your account and upload your CV. Easy as fluffing a pillow.
      .card.card--primary
          h3 Where you’ll be working
          h4 Here is where you’ll be based, whether that’s Bedquarters, or our Bed Factory or one of our stores.
          p Dreams Farnborough,<br> Solartron Retail Park,<br>  Solartron Rd, <br> Farnborough <br> GU14 7QJ

      .card.card--image
        img(src="images/work.png" alt="work." width="543" height="459")
        .card__body
          h3 Perks you can pick
          h4 Life looks different for everyone, so we give you options.
          h5 Buy extra holiday when you need more time off, opt into private healthcare or make use of our savings and loans schemes.
          p Are you a sun seeker who wants an extra week to drink pina coladas somewhere tropical, maybe you’d like a few extra days to spend time with your little ones or perhaps you’ve just got a bit of DIY or a home project you can’t seem to find the time to finish off… Well, good news, we have an amazing scheme where you can buy up to five extra days holiday per year. 
          p Take advantage of fantastic discounts on everyday products and services offered to you just for being a Dreams colleague. From discounted gym memberships, days out, supermarket vouchers to cinema trips, there’s great discounts to benefit everyone. There are also loads of great resources to help support your health & wellbeing.
    button.button About us
    button.button.button--primary Retail
    button.button.button--secondary.button--lg Read
    button.button.button--primary.button--lg Read ead
    button.button.button--secondary.button--lg Read

    .wellbeing 
      .container.container-md
        .wellbeing__description 
          h3 Colleague Wellbeing
          h4 At Dreams, wellbeing isn’t something we sweep under the bed – it’s central to how we look after each other.
          p We want every colleague to feel supported, valued and cared for, whether that’s through a quick chat with a teammate or longer-term help when it’s needed most. Our aim? To create an environment where people can truly rest easy, knowing their wellbeing always comes first.
        .wellbeing__card
          img(src="images/woman.png", alt="woman" width="353px" height="314px")
          .wellbeing__card-body
            h3 The four pillars of wellbeing
            h4 Our approach covers every part of life, because true rest and balance don’t come from one thing alone:
            ul 
              li <b>Financial</b> – helping you feel secure about money.
              li <b>Physical</b> – encouraging healthier lifestyles that give you more energy. 
              li <b>Emotional</b> – providing support when things feel tough. 
              li <b>Societal</b> – building stronger connections in our communities.
            p Even our benefits are built around these pillars, so you can feel confident there’s support in place whenever you need it – helping you rest easy and helping us all deliver on our bigger purpose.

    +slider-jobs

