extends pug/base

prepend vars
  - title = 'UI kit'

append vars

block content
  include pug/mixins
  include pug/mixins/svg
  .uikit-page
    .container
      h2.title-red-line Title red line
      ul(style="list-style-type: none; display: flex; flex-wrap: wrap; gap: 16px; margin: 32px 0;")
        li
          a(href="#typo") Typography
        li
          a(href="#container") Container
        li
          a(href="#grid") Grid
        li
          a(href="#section") Section
        li
          a(href="#breadcrumb") Breadcrumb
        li
          a(href="#accordion") Accordion
        li
          a(href="#background") Background
        li
          a(href="#navbar") Navbar
        li
          a(href="#pagination") Pagination
        li
          a(href="#tabs") Tabs
        li
          a(href="#sliders") Sliders
        li
          a(href="#forms") Forms
        li
          a(href="#toggle") Toggle
        li
          a(href="#video") Video
        li
          a(href="#cards") Cards
        li
          a(href="#icons") Icons
        li
          a(href="#scrollto") Scroll To anchors
        li
          a(href="#scrollspy") ScrollSpy
        li
          a(href="#charts") Charts
    .container
      #typo
        h3.h3 Typography

        h3.h3 Text

        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus eligendi modi, reprehenderit fugiat natus commodi nihil earum reiciendis recusandae distinctio repudiandae accusamus cumque adipisci ratione ullam consequuntur quidem error maiores blanditiis sit neque cupiditate necessitatibus repellendus dolor. Esse quis quisquam maiores itaque fugiat! Officiis vero incidunt recusandae harum illum omnis magnam repudiandae beatae aliquid excepturi, alias ea dolorem dolor ipsam? Ea temporibus harum pariatur? Quo eum adipisci laborum distinctio placeat sapiente libero praesentium, dolores nostrum nemo laudantium delectus alias odit asperiores qui minima earum quos incidunt iste fuga cupiditate, eius error ipsa? Commodi in neque consequatur minus quasi? Odio, nobis.

        h3.h3 Headings

        h1.h1 Heading1
        h2.h2 Heading2
        h3.h3 Heading3
        h4.h4 Heading4
        h5.h5 Heading5
        h6.h6 Heading6
        br
        h3.h3 Bullet List default
        article
          ul
            li
              p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat, veritatis.
            li
              p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat, veritatis.
            li
              p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat, veritatis.
            li
              p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat, veritatis.
            li
              p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat, veritatis.
        br
        h3.h3 Bullet List custom
        ul.bullet-list
          li
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. At, officiis?
          li
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. At, officiis?
          li
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. At, officiis?
          li
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. At, officiis?
          li
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. At, officiis?
          li
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. At, officiis?
        h3.h3 Ordered List default
        ol.ol
          li
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat, veritatis.
          li
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat, veritatis.
          li
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat, veritatis.
          li
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat, veritatis.
          li
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat, veritatis.
        h3.h3 Ordered List custom
        ol.ordered-list
          li
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat, veritatis.
          li
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat, veritatis.
          li
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat, veritatis.
          li
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat, veritatis.
          li
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat, veritatis.
      br
      #container
        h3.h3 Containers

        .container.background-muted .container
        .container-sm.background-primary .container-sm
        .container-md.background-primary .container-md
        .container-lg.background-primary .container-lg

      br
      #grid
        h3.h3 Grid
        .row
          .col-sm-2
            .background-primary .col-sm-2
          .col-sm-2
            .background-primary .col-sm-2
          .col-sm-2
            .background-primary .col-sm-2
          .col-sm-2
            .background-primary .col-sm-2
          .col-sm-2
            .background-primary .col-sm-2
          .col-sm-2
            .background-primary .col-sm-2
        br
        .row
          .col-3
            .background-primary .col-3
          .col-3
            .background-primary .col-3
          .col-3
            .background-primary .col-3
          .col-3
            .background-primary .col-3
        br
        .row
          .col-4
            .background-primary .col-4
          .col-4
            .background-primary .col-4
          .col-4
            .background-primary .col-4
        br
        .row
          .col-6
            .background-primary .col-6
          .col-6
            .background-primary .col-6
        br
        .row
          .col-6.offset-3
            .background-primary .col-6.offset-3

      br
      #section
        h3.h3 Section

        .section.background-primary .section
      br
      #breadcrumb
        h3.h3 Breadcrumb
        +breadcrumb(["Home", "Articles"], "Article")
      #accordion
        h3.h3 Accordion
        ul.accordion-list
          +accordion(
            "Accordion", 
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam voluptate consequatur temporibus dicta quisquam aperiam illo harum alias eligendi adipisci non eum sit odio, beatae iusto ab qui, odit quia recusandae id quo corporis? Hic, porro eaque! Atque, corporis fuga magni neque voluptate deserunt delectus perspiciatis quibusdam quia nulla quis odio consequuntur pariatur nostrum quod mollitia! Odit laborum dolorem iure neque optio vitae amet ex sequi consectetur doloribus deserunt possimus pariatur facilis facere rerum a laudantium molestiae, voluptatum commodi eius omnis, quas ratione. Iure minus voluptas consequatur! Rem debitis numquam atque ducimus ipsam dignissimos rerum dolores hic quas blanditiis. Possimus.")
          //- +accordion(
          //-   "Accordion", 
          //-   "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam voluptate consequatur temporibus dicta quisquam aperiam illo harum alias eligendi adipisci non eum sit odio, beatae iusto ab qui, odit quia recusandae id quo corporis? Hic, porro eaque! Atque, corporis fuga magni neque voluptate deserunt delectus perspiciatis quibusdam quia nulla quis odio consequuntur pariatur nostrum quod mollitia! Odit laborum dolorem iure neque optio vitae amet ex sequi consectetur doloribus deserunt possimus pariatur facilis facere rerum a laudantium molestiae, voluptatum commodi eius omnis, quas ratione. Iure minus voluptas consequatur! Rem debitis numquam atque ducimus ipsam dignissimos rerum dolores hic quas blanditiis. Possimus.")
          //- +accordion(
          //-   "Accordion", 
          //-   "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam voluptate consequatur temporibus dicta quisquam aperiam illo harum alias eligendi adipisci non eum sit odio, beatae iusto ab qui, odit quia recusandae id quo corporis? Hic, porro eaque! Atque, corporis fuga magni neque voluptate deserunt delectus perspiciatis quibusdam quia nulla quis odio consequuntur pariatur nostrum quod mollitia! Odit laborum dolorem iure neque optio vitae amet ex sequi consectetur doloribus deserunt possimus pariatur facilis facere rerum a laudantium molestiae, voluptatum commodi eius omnis, quas ratione. Iure minus voluptas consequatur! Rem debitis numquam atque ducimus ipsam dignissimos rerum dolores hic quas blanditiis. Possimus.")
          //- h3 Native accordions
          //- +accordion-native("Accordion title", "Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content ")
          //- +accordion-native("Accordion title", "Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content Accordion content ", true)
      br
      #background
        h3.h3 Background
        .background-default.text-primary .background-default
        .background-primary .background-primary
        .background-secondary .background-secondary
        .background-muted.text-primary .background-muted
      br
      #navbar
        h3.h3 Navbar
        +navbar(
          [
            {
              text: "Home",
              active: true
            },
            {
              text: "About"
            },
          ]
        )
      br
      #pagination
        h3.h3 Pagination
        h4 default
        +pagination(4, 1)
        h4 inverse
        .background-muted
          +pagination(4, 1, 0, 0, false, true)
      br
      #tabs
        h3.h3 Tabs
        +tabs(
          [
            {
              name: 'Overview',
              active: true,
              id: 'tab1'
            },
            {
              name: 'Jobs',
              id: 'tab2'
            },
            {
              name: 'Interview Process',
              id: 'tab3'
            }
          ]
        )

      #sliders
        .container
          h3.h3 Slider
          +slider

          h3.h3 Slider with thumbnails (works as multiple instances)
          +slider-thumbs
          +slider-thumbs

      #forms
        h3.h3 Forms

        h3 Input
        .form-group
          label.label(for="text") Label
          .form-control
            input.input#text(type="text" name="text" placeholder="First Name")
          .input-hint Input hint message

        .form-group
          label.label(for="text") Label disabled
          .form-control
            input.input#text(type="text" name="text" value="Disabled" disabled)

        //- h3 Password
        //- .form-group
        //-   label.label(for="text") Label
        //-   .form-control.icon-right
        //-     button.form-icon.js-toggle-password(aria-label="Show password as plain text. Warning: this will display your password on the screen.")
        //-       <svg class="input-password-show" xmlns="http://www.w3.org/2000/svg" width="18" height="14" viewBox="0 0 18 14"><path fill="#B9C5CD" d="M12.706 8.308a4.454 4.454 0 0 1-2.099 1.713l2.813-5.229c.053.313.08.604.08.875 0 .965-.265 1.845-.794 2.64zm.412-7.204A3414.32 3414.32 0 0 0 9.954 7a1834.575 1834.575 0 0 1-3.174 5.906l-.492.927a.313.313 0 0 1-.281.167c-.08 0-.53-.243-1.346-.73a.329.329 0 0 1-.161-.29c0-.084.147-.386.442-.907a10.369 10.369 0 0 1-2.647-1.802A12.352 12.352 0 0 1 .201 7.719 1.332 1.332 0 0 1 0 7c0-.264.067-.503.2-.719 1.026-1.632 2.298-2.92 3.818-3.864A9.261 9.261 0 0 1 9 1c.596 0 1.199.06 1.808.177l.542-1.01A.313.313 0 0 1 11.632 0c.033 0 .093.02.18.062a6.76 6.76 0 0 1 .643.354c.1.063.206.128.316.193.111.066.176.106.196.12a.32.32 0 0 1 .161.282c0 .048-.003.08-.01.093zm-7.543 9.802l.783-1.469a4.554 4.554 0 0 1-1.366-1.656A4.726 4.726 0 0 1 4.5 5.667c0-.84.204-1.622.613-2.344C3.579 4.136 2.303 5.361 1.286 7c1.118 1.792 2.548 3.094 4.289 3.906zm3.767-7.552A.491.491 0 0 0 9.482 3 .492.492 0 0 0 9 2.5c-.837 0-1.556.311-2.155.932a3.106 3.106 0 0 0-.899 2.235.491.491 0 0 0 .482.5.492.492 0 0 0 .482-.5c0-.597.205-1.108.613-1.531A1.978 1.978 0 0 1 9 3.5a.457.457 0 0 0 .342-.146zm8.457 2.927c.134.237.2.476.201.72 0 .242-.067.482-.2.718-.262.444-.627.948-1.096 1.51-1.004 1.195-2.168 2.122-3.49 2.781A9.313 9.313 0 0 1 9 13l.743-1.375a8.145 8.145 0 0 0 3.943-1.427c1.208-.826 2.218-1.892 3.028-3.198-.77-1.243-1.714-2.264-2.832-3.062l.632-1.167a12.01 12.01 0 0 1 1.834 1.594 10.29 10.29 0 0 1 1.451 1.916z"/></svg>
        //-       <svg class="input-password-hide" xmlns="http://www.w3.org/2000/svg" width="18" height="12" viewBox="0 0 18 12"><path fill="#3390F8" d="M17.8 5.281a10.923 10.923 0 0 0-3.783-3.833C12.434.483 10.761 0 9 0 7.239 0 5.566.483 3.983 1.448A10.92 10.92 0 0 0 .2 5.281a1.483 1.483 0 0 0-.201.72c0 .235.067.475.2.718a10.917 10.917 0 0 0 3.783 3.833C5.566 11.518 7.239 12 9 12c1.761 0 3.434-.48 5.017-1.442a10.85 10.85 0 0 0 3.782-3.84C17.933 6.477 18 6.237 18 6s-.067-.476-.2-.719zM7.016 2.017C7.695 1.339 8.507 1 9.454 1c.152 0 .28.053.387.16a.522.522 0 0 1 .159.385c0 .152-.053.28-.159.387a.526.526 0 0 1-.386.159c-.652 0-1.209.231-1.67.693a2.277 2.277 0 0 0-.694 1.67c0 .152-.053.28-.16.387A.526.526 0 0 1 6.547 5a.526.526 0 0 1-.387-.16.526.526 0 0 1-.16-.385c0-.946.34-1.759 1.017-2.437zm6.51 7.618C12.133 10.545 10.624 11 9 11s-3.134-.455-4.526-1.365C3.082 8.725 1.924 7.502 1 5.966 2.056 4.198 3.378 2.876 4.969 2a5.208 5.208 0 0 0-.636 2.528c0 1.386.457 2.57 1.37 3.556C6.616 9.07 7.715 9.562 9 9.562c1.285 0 2.384-.493 3.297-1.478.913-.985 1.37-2.17 1.37-3.556 0-.906-.212-1.75-.636-2.528 1.59.876 2.913 2.199 3.969 3.966-.923 1.536-2.081 2.759-3.474 3.669z"/></svg>
        //-     input.input#new-password(type="password" name="text" autocomplete="new-password")
                input.input#current-password(type="password" name="text" autocomplete="current-password")
        //- h3 Input with left icon
        //- .form-group
        //-   label.label(for="text") Label
        //-   .form-control.icon-left
        //-     .form-icon
        //-       <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><rect fill="none" stroke="#000" height="10" width="13" y="8.5" x="3.5"></rect><path fill="none" stroke="#000" d="M6.5,8 L6.5,4.88 C6.5,3.01 8.07,1.5 10,1.5 C11.93,1.5 13.5,3.01 13.5,4.88 L13.5,8"></path></svg>
        //-     input.input#text(type="text" name="text")
        //-   .input-hint Input hint message
        h3 Select
        .form-group
          label.label(for="select") Select
          .form-control
            select#select(name="select")
              option(selected) AAAAA
              option(disabled) BBBBB
              option CCCCC
              option DDDDD
              option EEEEE
        h3 Checkbox
        .section-sm.background-secondary
          .form-group
            +checkbox('Checkbox text')
        h3 Radio
        .section-sm.background-secondary
          .form-group
            +radio('Radio text', 'radio', 'radio1')
          .form-group
            +radio('Radio text', 'radio', 'radio2')

        //- h3 Switch
        //- .form-group
        //-   +switch('Switch label', 'checkbox')

        h3 Textarea
        .form-group
          label.label(for="textarea") Label
          textarea.textarea#textarea(name="textarea")
        h3 Autoresized Textarea
        form(action="#" method="post")
          .form-group
            .auto-resize-textarea
              textarea(name="example" rows="1")
          .form-group
            .auto-resize-textarea
              textarea(name="example") Lorem ipsum dolor sit amet consectetur adipisicing elit.
          .form-group
            .auto-resize-textarea
              textarea(name="example" rows="5")

        h3 Upload
        .form-group
          label.input.input-file(for="upload1")
            +svg('upload')
            span Upload
            input.visually-hidden#upload1(type="file" name="upload")
        .background-secondary
          .container
            br
            .form-group
              label.input.input-file(for="upload2")
                +svg('upload')
                span Upload
                input.visually-hidden#upload2(type="file" name="upload")
            br
        h3 Buttons
          .background-primary
            br
            button.button.text-center(type="button") Default
          br
          .background-primary
            br
            button.button.button--inverse.text-center(type="button") Inverse
          br
          .background-default
            br
            button.button.button--primary.text-center(type="button") Primary
            br
          .background-default
            br
            button.button.button--secondary.text-center(type="button") Secondary
            br
          br
          .background-primary
            button.button.text-center(type="button" disabled) Disabled
            br
        br
        h3 Buttons with icons
        br
        .form-group
          button.button(type="button")
            span Default
            +svg('arrow-right').button__icon
          br
          .background-primary
            p
            button.button.button--inverse.text-left(type="button")
              span Inverse
              +svg('arrow-right').button__icon
            p
          br
          .background-primary
            p
            button.button.button--inverse.text-left(type="button")
              span Inverse
              +svg('arrow-down').button__icon
            p
          br
          .background-sky-blue(style="background: #B5D2F0;")
            p
            button.button.button--inverse.button--inverse-secondary.text-left(type="button")
              span Inverse
              +svg('arrow-right').button__icon
            p
          br
          .background-sky-blue(style="background: #B5D2F0;")
            p
            button.button.button--inverse.button--inverse-secondary.text-left(type="button")
              span Inverse
              +svg('arrow-down').button__icon
            p
          br
          button.button.button--primary.text-left(type="button")
            span Primary
            +svg('arrow-right').button__icon
          br
          button.button.button--secondary.text-right.icon-left(type="button")
            span Secondary
            +svg('chevron-right').button__icon
          br
          button.button(type="button" disabled)
            span Disabled
            +svg('chevron-right').button__icon

        h3 Buttons with icons and direction
        .form-group
          button.button(type="button")
            span Default
            +svg('chevron-right').button__icon
          br
          button.button.button--primary(type="button")
            span Primary
            +svg('chevron-right').button__icon
          br
          button.button.button--secondary(type="button")
            span Secondary
            +svg('chevron-right').button__icon
          br
          button.button(type="button" disabled)
            span Disabled
            +svg('chevron-right').button__icon
      #toggle
        h3.h3 Toggle
        button.button(data-collapse-target="content1")
          span Toggle Target
          //- +svg('chevron-down').button__icon

        div(data-collapse-content="content1") Toggle Content
      #video
        h3.h3 Video
        +videoVimeo("./images/poster.jpeg")
        +videoVimeo("./images/poster.jpeg")

      #icons
        h3.h3 Icons
        <style>.svg-icons{display: flex; flex-wrap: wrap; gap: 10px;}.svg-icons svg{ width: 50px;}</style>
        .svg-icons
          +svg('ambulance')
          +svg('arrow-right-square')
          +svg('brain')
          +svg('calendar')
          +svg('chevron-down')
          +svg('chevron-left')
          +svg('chevron-right')
          +svg('clinical-f')
          +svg('coins')
          +svg('colon')
          +svg('download')
          +svg('ear-nose-throat')
          +svg('facebook')
          +svg('forum')
          +svg('gynecology')
          +svg('health-data')
          +svg('health-worker')
          +svg('healthcare-it')
          +svg('heart')
          +svg('hospital')
          +svg('joints')
          +svg('linkedin')
          +svg('lungs')
          +svg('newsletter')
          +svg('phone')
          +svg('question')
          +svg('search')
          +svg('skin-cancer')
          +svg('snz2')
          +svg('snz3')
          +svg('surgery')
          +svg('urology')
          +svg('zorgdomein')

      #scrollto
        h3.h3 Scroll To anchors

        button.button.button--primary(data-scrollto="#section1") Anchor to section1
        div(style="height:100vh")
        .background-primary#section1(style="height:100vh") #section1

      #cards
        h3.h3 Cards
        .container

      .overflow-hidden#scrollspy
        h3.h3 ScrollSpy
        section.section
          .text-secondary(data-scrollspy="animate__fadeInRight") animate__fadeInRight
          .text-secondary(data-scrollspy="animate__fadeInLeft") animate__fadeInRight

      #charts
        //- h3.h3 Charts
        //- section.section
        //-   .container
        //-     canvas#pie-chart