extends pug/base

prepend vars
  - title = 'Values'

append vars

block content 
  section.hero.wave-bottom
    img(src="images/values/hero-background.png" alt="retail." width="1920" height="1080")
    .hero__inner
      .hero__motto 
        h1 The rules
        .hero__sleep
          img.hidden-desktop(src="images/values-header.png" alt="we live (and sleep by).")
          img.visible-desktop(src="images/values-header.svg" alt="we live (and sleep by).")
        p From putting customers first to celebrating every win, these values keep us on the right side of the duvet.
  section
    .container
      .container__title
        img(src="images/values-slider-header.png" alt="our values stronger together." width="218" height="187")
        img(src="images/values-header-desktop.svg" alt="our values stronger together." width="1360" height="117")
      .swiper.slider-values
          .swiper-wrapper
            .swiper-slide
              .slider-values-slide 
                .slider-values-slide__top
                  img(src="images/hand.svg" alt="hand" width="120" height="120")
                  p 
                    | Customer
                    br
                    | first
                .slider-values-slide__header
                  h3 
                    |Lorem ipsum dolor sit amet consectetur adipiscing elit. 
                    br
                    | Conubia nostra inceptos.
                p.slider-values-slide__body
                  | Cubilia curae hac habitasse platea dictumst lorem ipsum. Taciti sociosqu ad litora torquent per conubia nostra. Finibus facilisis dapibus etiam .
            
            .swiper-slide
              .slider-values-slide 
                .slider-values-slide__top
                  img(src="images/clap.svg" alt="hand clap." width="120" height="120")
                  p 
                    | Celebrate
                    br
                    | success
                .slider-values-slide__header
                  h3 
                    | Lorem ipsum dolor sit amet consectetur adipiscing elit. 
                    br
                    | Conubia nostra inceptos.
                p.slider-values-slide__body
                  | Cubilia curae hac habitasse platea dictumst lorem ipsum. Taciti sociosqu ad litora torquent per conubia nostra. Finibus facilisis dapibus etiam .
            
            .swiper-slide
              .slider-values-slide 
                .slider-values-slide__top
                  img(src="images/shield.svg" alt="shield." width="120" height="120")
                  p 
                    | Always
                    br
                    | authentic
                .slider-values-slide__header
                  h3 
                    | Lorem ipsum dolor sit amet consectetur adipiscing elit. 
                    br
                    | Conubia nostra inceptos.
                p.slider-values-slide__body
                  | Cubilia curae hac habitasse platea dictumst lorem ipsum. Taciti sociosqu ad litora torquent per conubia nostra. Finibus facilisis dapibus etiam .
            
            .swiper-slide
              .slider-values-slide 
                .slider-values-slide__top
                  img(src="images/thumb-up.svg" alt="thumb up." width="120" height="120")
                  p 
                    | Do the right
                    br
                    | things first
                .slider-values-slide__header
                  h3 
                    |Lorem ipsum dolor sit amet consectetur adipiscing elit. 
                    br
                    | Conubia nostra inceptos.
                p.slider-values-slide__body
                  | Cubilia curae hac habitasse platea dictumst lorem ipsum. Taciti sociosqu ad litora torquent per conubia nostra. Finibus facilisis dapibus etiam .

          .slider-values__controls
            .slider-values__progress
              .slider-values__progress-bar
                .slider-values__progress-fill
            .slider-values__pagination
            .slider-values__navigation
              button.swiper-button-prev.slider-values__nav-btn.slider-values__nav-btn--prev
                +svg('chevron-circle-left')
              button.swiper-button-next.slider-values__nav-btn.slider-values__nav-btn--next
                +svg('chevron-circle-right')
  section.section.section-features
    .container
      .section-header
        h2 Behind every bed is a story.
        h3 Here are a few of ours.
      +slider-features
  section.section.section-next
    +next