:root {
  --h1-font-size: 67px;
  --h2-font-size: 28px;
  --h3-font-size: 18px;
  --h4-font-size: 12px;
  --h5-font-size: 10px;
  --h6-font-size: 8px;
  --h1-font-size-desktop: 88px;
  --h2-font-size-desktop: 55px;
  --h3-font-size-desktop: 31px;
  --h4-font-size-desktop: 24px;
  --h5-font-size-desktop: 20px;
  --h6-font-size-desktop: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  letter-spacing: 0;
  margin-top: 0;
  word-break: break-word;
  color: inherit;
}

h1,
.h1 {
  font-size: var(--h1-font-size);

  @include desktop {
    font-size: var(--h1-font-size-desktop);
  }
}

h2,
.h2 {
  font-size: var(--h2-font-size);

  @include desktop {
    font-size: var(--h2-font-size-desktop);
  }
}

h3,
.h3 {
  font-size: var(--h3-font-size);

  @include desktop {
    font-size: 31px;
    line-height: 34px;
    font-size: var(--h3-font-size-desktop);
  }
}

.h4 {
  font-size: var(--h4-font-size);

  @include desktop {
    font-size: var(--h4-font-size-desktop);
  }
}

.h5 {
  font-size: var(--h5-font-size);

  @include desktop {
    font-size: var(--h5-font-size-desktop);
  }
}

.h6 {
  font-size: var(--h6-font-size);

  @include desktop {
    font-size: var(--h6-font-size-desktop);
  }
}